@tailwind base;
@tailwind components;

:root {
  @apply font-gothic text-velt-black
}
.cont{
  @apply px-3 xs:px-6 sm:px-8 md:px-10 lg:px-12 xl:px-16
}
.remove-cont{
  @apply -mx-3 xs:-mx-6 sm:-mx-8 md:-mx-10 lg:-mx-12 xl:-mx-16
}
.toggler{
  
  @apply bg-white h-[4px] w-full inline-block
}

.section-header{
  @apply font-bold text-2xl sm:leading-[52px] sm:text-[34px] md:text-[36px] xl:text-[38px]
}
.massive-text{
  @apply font-extrabold sm:text-[50px] md:text-[54px] lg:text-[69px] sm:leading-[70px] text-4xl xl:text-[74px]
}
@tailwind utilities;
